<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header4') %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>AttenBuddy</h1>
            <p>Welcome to one of the best Attendance Management System</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Administrator</h3>
            <p>You are Admin.You have control over the overall funtionalities of this Attendance System, which includes management of teachers and students along with the courses they are associated with.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    <div class="card-body">
    <div class="card bg-dark text-white">
    <h5 class="card-title" style="text-align:center">Manage Courses</h5>
    <hr color="white">
    <center><p class="card-text">It add/remove Courses</p><center>
    <center><a href="/manageCourse" class="btn btn-light btn-sm btn-block">GO</a></center>
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="card-body">
    <div class="card bg-dark text-white">
    <h5 class="card-title" style="text-align:center">Manage Teachers</h5>
    <hr color="white">
    <center><p class="card-text">It add/remove Teachers</p><center>
    <center><a href="/manageTeacher" class="btn btn-light btn-sm btn-block">GO</a></center>
    </div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="card-body">
    <div class="card bg-dark text-white">
    <h5 class="card-title" style="text-align:center">Manage Students</h5>
    <hr color="white">
    <center><p class="card-text">It add/remove Students</p><center>
    <center><a href="/manageStudent" class="btn btn-light btn-sm btn-block">GO</a></center>
    </div>
    </div>
    </div>
</div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
