
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header') %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>AttenBuddy</h1>
            <p>Welcome to one of the best Attendance Management System</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Who are we?</h3>
            <p>We are a group of student at Indian Institute of Information Technology with a resolution of provide best software solutions to cater needs of our customers</p>
        </div>
        <div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a></div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
