<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container-fluid">

<header>
    <%- include('../partials/header2') %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h2>AttenBuddy</h2>
            <p>Welcome to one of the best Attendance Management System</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Student</h3>
            <p>You are a student.You can review your attendance of all the courses you are enrolled in.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    <div class="card-body">
    <div class="card grey darken-4 text-white">
    <h5 class="card-title" style="text-align:center">First Year</h5>
    <hr color="white">
    <center><p class="card-text">It contains attendance of first year courses</p><center>
    <center><a href="/firstYear" class="btn btn-danger btn-sm btn-block teal darken-4">GO</a></center>
    </div>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="card-body">
    <div class="card grey darken-4 text-white">
    <h5 class="card-title" style="text-align:center">Second Year</h5>
    <hr color="white">
    <center><p class="card-text">It contains attendance of second year courses</p><center>
    <center><a href="/secondYear" class="btn btn-danger btn-sm btn-block teal darken-4">GO</a></center>
    </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    <div class="card-body">
    <div class="card grey darken-4 text-white">
    <h5 class="card-title" style="text-align:center">Third Year</h5>
    <hr color="white">
    <center><p class="card-text">It contains attendance of third year courses</p><center>
    <center><a href="/thirdYear" class="btn btn-danger btn-sm btn-block teal darken-4">GO</a></center>
    </div>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="card-body">
    <div class="card grey darken-4 text-white">
    <h5 class="card-title" style="text-align:center">Fourth Year</h5>
    <hr color="white">
    <center><p class="card-text">It contains attendance of fourth year courses</p><center>
    <center><a href="/fourthYear" class="btn btn-danger btn-sm btn-block teal darken-4">GO</a></center>
    </div>
    </div>
    </div>
</div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
 
