<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include('../partials/header3') %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>AttenBuddy</h1>
            <p>Welcome to one of the best Attendance Management System</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Teacher</h3>
            <p>You are a Teacher.You can take and review the attendance of various courses you are teaching</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    <div class="card-body">
    <div class="card bg-dark text-white">
    <h5 class="card-title" style="text-align:center">Take Attendance</h5>
    <hr color="white">
    <center><p class="card-text">You can take attendance here</p><center>
    <center><a href="/takeAttendance" class="btn btn-light btn-sm btn-block">GO</a></center>
    </div>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="card-body">
    <div class="card bg-dark text-white">
    <h5 class="card-title" style="text-align:center">Review-Modify Attendance</h5>
    <hr color="white">
    <center><p class="card-text">You can review-modify attendance</p><center>
    <center><a href="/reviewModifyAttendance" class="btn btn-light btn-sm btn-block">GO</a></center>
    </div>
    </div>
    </div>
    
</div>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
