<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>

<div class="container-fluid">
<header>
    <%- include('../partials/header1') %>
</header>
</div>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h5>Sign In</h5>
			</div>
			<div class="card-body">
				<form action = "/login" method = "POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="userid" name="userid">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password">
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn grey darken-4 white-text">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<footer>
    <%- include('../partials/footer')%>
</footer>
</body>
</html>
